
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(106, 90, 205);
}



.logo {
    width: 150px;
    height: auto;
}

nav {
    background-color: skyblue;
    padding: 1rem;
    
}

nav ul {

    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    display: inline;
    margin-right: 20px;


}

nav ul li a {
    color: #c02460;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

h1,
h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
}

h1:hover {
    color: white;
}

img.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 50%;
    border: 2px solid #e11c1c;
}

.skills {
    background-color: rgb(172, 203, 16);

}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  float:left;
}

.skills .image {
    width: 25%;
    float: left;
    padding: 10px;
}

.skills .image img {
    width: 100%;
    height: 150px;
}

.skills p {
    background-color: hsl(199, 45%, 61%);
    padding: 0%;
    margin: auto;
}

.skills .image-container::after {
    clear: both;
}

.web {
    background-color: skyblue;
    padding: 1rem;
}

.website-container{
    display: flex;
    flex-direction: row;

}
.website-container ul {

    margin: 0;
    padding: 0;
    text-align: center;

}

.website-container ul li {
    display: inline;
    margin-right: 20px;


}

.website-container ul li a {

    color: #c02460;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 200%;
    padding: 0%;
    word-spacing: 0rem;
    margin: auto;
}

.web ul li a:hover {
    color: #ddd;
}

.footer {
    background-color: #c02460;
    text-align: center;
    font-size: larger;
}